{% extends 'base.html' %}

{%block content%}
{{ block.super}}
<div class="container-fluid"
    style="background-image: url('https://images.unsplash.com/photo-1519458246479-6acae7536988?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80');  background-repeat: no-repeat; background-size: cover; height: 100vh;  background-position: center; text-align:center; overflow-x:hidden;">
    <div class="home">
        <h1 style="  font-size:40px; margin-top:60px; color:rgb(229, 235, 233); font-family: 'Redressed', cursive;">Welcome to The Gallery</h1> 
        <p style="color: rgb(229, 235, 233); font-size: 24px;">A picture is worth a thousand words...
        <br>
        Let's Explore!!
        </p>
        <a href="{% url 'photos' %}" class="btn btn-info btn-small">View Photos</a>
    </div>
</div>
{%endblock%}